{% extends 'web/base.html' %}

{% block pageheader %}
管理员
{% endblock %}

{% block mainbody %}
<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">
      管理员
    </h3>
    <div class="box-tools">
    </div>
  </div><!-- /.box-header -->

  <div class="box-body">
    <div style="margin-bottom:15px;">
      <a href="{% url 'web:account_add' %}" class="btn btn-success">新建</a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>用户名</th>
              <th>用户组</th>
              <th>姓名</th>
              <th>启用</th>
              <th>操作</th>
            </tr>
            {% for account in accounts %}
              <tr>
                <td style="vertical-align: middle;"><a href="{% url 'web:account_edit' account.id %}">{{ account.username }}</a></td>
                <td style="vertical-align: middle;">
                  {% for group in account.groups.all %}
                    {{ group.name }}
                  {% endfor %}
                </td>
                <td style="vertical-align: middle;">
                  {{ account.first_name }}
                </td>
                <td style="vertical-align: middle;">
                  {% if account.is_active %}
                    <i class="fa fa-fw fa-check-circle text-green"></i>
                  {% else %}
                    <i class="fa fa-fw fa-ban text-red"></i>
                  {% endif %}
                </td>
                <td style="vertical-align: middle;">
                  {% if account.is_active %}
                    <a class="btn btn-xs btn-success"
                      href="{% url 'web:account_offline' account.id %}"
                      onclick="return confirm('确认禁用吗?')">禁用</a>
                  {% else %}
                    <a class="btn btn-xs btn-success"
                      href="{% url 'web:account_offline' account.id %}"
                      onclick="return confirm('确认启用吗?')">启用</a>
                  {% endif %}
                  <a class="btn btn-xs btn-danger"
                    href="{% url 'web:account_delete' account.id %}"
                    onclick="return confirm('确认删除吗?')">删除</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
