<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>04-livingHelp</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/04-livingHelp.css">
    <script src="//at.alicdn.com/t/font_ydrr42zlcvea5rk9.js"></script>
</head>
<body>
<!--通用top begin -->
<!--header begin-->
<header class="wrap">
    <div class="banxin welcome clearfix">
        <div class="wel_left fl">
            <span class="white">欢迎来到租房网！更多房源选择任您挑选！请选择您的位置：</span>
            <select class="city white" name="city" id="">
                <option value="武汉" selected>武汉</option>
            </select>

        </div>
        <div class="wel_right fr">
            <a class="white" href="javascript:void(0)">收藏本站 |</a>
            <a class="white" href="javascript:void(0)">设为首页 |</a>
            <a class="white" href="javascript:void(0)">登录 |</a>
            <a class="white" href="javascript:void(0)">注册 </a>
        </div>
    </div>
</header>
<!--header end-->
<!--nav begin-->
<nav class="wrap">
    <div class="banxin nav  clearfix">
        <a class="logo" href="javascript:void(0)"></a>
        <ul class="nav_items fl clearfix">
            <li class="fl"><a href="javascript:void(0)">首页</a></li>
            <li class="fl"><a href="javascript:void(0)">房源信息</a></li>
            <li class="fl"><a href="javascript:void(0)">求租信息</a></li>
            <li class="fl"><a href="javascript:void(0)">生活馆</a></li>
            <li class="fl"><a href="javascript:void(0)">注册登录</a></li>
        </ul>
        <div class="hot-line fr clearfix">
            <p class="p_number green"><b></b>400-6789-888</p>
            <p class="p_time" align="right">看房热线：<span class="green">08:00 - 21:00</span></p>
        </div>
    </div>
</nav>
<!--nav end-->
<!--通用top end -->

<div class="living-bg wrap">
    <!--<img src="images/shg-bg.jpg" alt="">-->
</div>
<h5 class="pageTitleE green" align="center">Living Museum</h5>
<p class="pageTitleC" align="center"><b></b>生活馆</p>
<div class="container banxin">
    <!--地区列表-->
    <ul class="tabs clearfix">
        <li>位置：&nbsp</li>
        <li><a href="#tab1">&nbsp洪山&nbsp </a></li>
        <li><a href="#tab2">&nbsp汉阳&nbsp</a></li>
        <li><a href="#tab1">&nbsp武昌&nbsp</a></li>
        <li><a href="#tab2">&nbsp黄陂&nbsp</a></li>
        <li><a href="#tab1">&nbsp江岸&nbsp</a></li>
        <li><a href="#tab2">&nbsp东西湖&nbsp</a></li>
        <li><a href="#tab1">&nbsp江夏&nbsp</a></li>
        <li><a href="#tab2">&nbsp汉桥&nbsp</a></li>
        <li><a href="#tab1">&nbsp硚口&nbsp</a></li>
        <li><a href="#tab2">&nbsp青山&nbsp</a></li>
        <li><a href="#tab1">&nbsp蔡甸&nbsp</a></li>
        <li><a href="#tab2">&nbsp新洲&nbsp</a></li>
        <li><a href="#tab1">&nbsp武汉周边&nbsp</a></li>
        <li><a href="#tab2">&nbsp东湖高新&nbsp</a></li>
        <li><a href="#tab1">&nbsp经济开发区&nbsp</a></li>
        <li><a href="#tab2">&nbsp汉南&nbsp</a></li>
        <li><a href="#tab1">&nbsp全部&nbsp</a></li>
    </ul>

    <!--区域范围列表-->
    <div class="district_container">
        <div id="tab1" class="tab_content" style="display: block;">
            <ul class="service_tabs clearfix">
                <li>位置：&nbsp</li>
                <li><a href="#tab1-1">&nbspE 二七&nbsp </a></li>
                <li><a href="#tab1-2">&nbspH 后湖&nbsp</a></li>
                <li><a href="#tab1-1">&nbspJ 解放公园&nbsp</a></li>
            </ul>
        </div>
        <div id="tab2" class="tab_content" style="display: none;">
            <ul class="service_tabs clearfix">
                <li>位置：&nbsp</li>
                <li><a href="#tab1-2">&nbspE 十里铺&nbsp </a></li>
                <li><a href="#tab1-1">&nbspH 王家湾&nbsp</a></li>
            </ul>
        </div>
    </div>

    <!--商家列表-->
    <div class="service_container">
        <div id="tab1-1" class="s_tab_content" style="display: block;">
            <div class="service-list wrap">
                <div class="service-name">
                    <p align="center"><img src="images/clean.jpg" alt=""></p>
                    <p align="center"><button>保洁</button></p>
                    <p align="center">让租房更舒心</p>
                </div>
                <div class="service-pic">
                    <ul>
                        <li><img src="images/service1.jpg" alt=""></li>
                        <li><img src="images/service2.jpg" alt=""></li>
                        <li><img src="images/service3.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="service-contact">
                    <p></p>
                    <p>小区环境惬意，四季常青，幸福生活从每天清晨开始!在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务! 小区环境惬意，四季常青，幸福生活从每天清晨开始! 在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务!</p>
                    <p align="center"><button class="shg-phone orange"><span></span>&nbsp&nbsp400-100-4444</button></p>
                </div>
            </div>
            <div class="service-list wrap">
                <div class="service-name">
                    <p align="center"><img src="images/clean.jpg" alt=""></p>
                    <p align="center"><button>搬家</button></p>
                    <p align="center">让租房更舒心</p>
                </div>
                <div class="service-pic">
                    <ul>
                        <li><img src="images/service1.jpg" alt=""></li>
                        <li><img src="images/service2.jpg" alt=""></li>
                        <li><img src="images/service3.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="service-contact">
                    <p></p>
                    <p>小区环境惬意，四季常青，幸福生活从每天清晨开始!在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务! 小区环境惬意，四季常青，幸福生活从每天清晨开始! 在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务!</p>
                    <p align="center"><button class="shg-phone orange"><span></span>&nbsp&nbsp400-100-4444</button></p>
                </div>
            </div>
            <div class="service-list wrap">
                <div class="service-name">
                    <p align="center"><img src="images/clean.jpg" alt=""></p>
                    <p align="center"><button>搬家</button></p>
                    <p align="center">让租房更舒心</p>
                </div>
                <div class="service-pic">
                    <ul>
                        <li><img src="images/service1.jpg" alt=""></li>
                        <li><img src="images/service2.jpg" alt=""></li>
                        <li><img src="images/service3.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="service-contact">
                    <p></p>
                    <p>小区环境惬意，四季常青，幸福生活从每天清晨开始!在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务! 小区环境惬意，四季常青，幸福生活从每天清晨开始! 在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务!</p>
                    <p align="center"><button class="shg-phone orange"><span></span>&nbsp&nbsp400-100-4444</button></p>
                </div>
            </div>
            <div class="service-list wrap">
                <div class="service-name">
                    <p align="center"><img src="images/clean.jpg" alt=""></p>
                    <p align="center"><button>保洁</button></p>
                    <p align="center">让租房更舒心</p>
                </div>
                <div class="service-pic">
                    <ul>
                        <li><img src="images/service1.jpg" alt=""></li>
                        <li><img src="images/service2.jpg" alt=""></li>
                        <li><img src="images/service3.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="service-contact">
                    <p></p>
                    <p>小区环境惬意，四季常青，幸福生活从每天清晨开始!在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务! 小区环境惬意，四季常青，幸福生活从每天清晨开始! 在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务!</p>
                    <p align="center"><button class="shg-phone orange"><span></span>&nbsp&nbsp400-100-4444</button></p>
                </div>
            </div>
        </div>
        <div id="tab1-2" class="s_tab_content" style="display: none;">
            <div class="service-list wrap">
                <div class="service-name">
                    <p align="center"><img src="images/clean.jpg" alt=""></p>
                    <p align="center"><button>保洁</button></p>
                    <p align="center">让租房更舒心</p>
                </div>
                <div class="service-pic">
                    <ul>
                        <li><img src="images/service1.jpg" alt=""></li>
                        <li><img src="images/service2.jpg" alt=""></li>
                        <li><img src="images/service3.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="service-contact">
                    <p></p>
                    <p>小区环境惬意，四季常青，幸福生活从每天清晨开始!在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务! 小区环境惬意，四季常青，幸福生活从每天清晨开始! 在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务!</p>
                    <p align="center"><button class="shg-phone orange"><span></span>&nbsp&nbsp400-100-4444</button></p>
                </div>
            </div>
            <div class="service-list wrap">
                <div class="service-name">
                    <p align="center"><img src="images/clean.jpg" alt=""></p>
                    <p align="center"><button>保洁</button></p>
                    <p align="center">让租房更舒心</p>
                </div>
                <div class="service-pic">
                    <ul>
                        <li><img src="images/service1.jpg" alt=""></li>
                        <li><img src="images/service2.jpg" alt=""></li>
                        <li><img src="images/service3.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="service-contact">
                    <p></p>
                    <p>小区环境惬意，四季常青，幸福生活从每天清晨开始!在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务! 小区环境惬意，四季常青，幸福生活从每天清晨开始! 在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务!</p>
                    <p align="center"><button class="shg-phone orange"><span></span>&nbsp&nbsp400-100-4444</button></p>
                </div>
            </div>
            <div class="service-list wrap">
                <div class="service-name">
                    <p align="center"><img src="images/clean.jpg" alt=""></p>
                    <p align="center"><button>保洁</button></p>
                    <p align="center">让租房更舒心</p>
                </div>
                <div class="service-pic">
                    <ul>
                        <li><img src="images/service1.jpg" alt=""></li>
                        <li><img src="images/service2.jpg" alt=""></li>
                        <li><img src="images/service3.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="service-contact">
                    <p></p>
                    <p>小区环境惬意，四季常青，幸福生活从每天清晨开始!在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务! 小区环境惬意，四季常青，幸福生活从每天清晨开始! 在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务!</p>
                    <p align="center"><button class="shg-phone orange"><span></span>&nbsp&nbsp400-100-4444</button></p>
                </div>
            </div>
            <div class="service-list wrap">
                <div class="service-name">
                    <p align="center"><img src="images/clean.jpg" alt=""></p>
                    <p align="center"><button>保洁</button></p>
                    <p align="center">让租房更舒心</p>
                </div>
                <div class="service-pic">
                    <ul>
                        <li><img src="images/service1.jpg" alt=""></li>
                        <li><img src="images/service2.jpg" alt=""></li>
                        <li><img src="images/service3.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="service-contact">
                    <p></p>
                    <p>小区环境惬意，四季常青，幸福生活从每天清晨开始!在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务! 小区环境惬意，四季常青，幸福生活从每天清晨开始! 在此区工作多年，对于这边那是相当熟悉，您如果对此房源有兴趣请拨打我的电话。24小时为您竭诚服务!</p>
                    <p align="center"><button class="shg-phone orange"><span></span>&nbsp&nbsp400-100-4444</button></p>
                </div>
            </div>
        </div>
    </div>

</div>



<!--footer begin-->
<div class="footer wrap">
    <img src="images/footer.png" alt="">
    <div class="company banxin">
        <span class="service">SERVICE</span>
        电话咨询服务电话：<span class="number green">400-1371-365</span>
        <span class="right">&reg 2017 Zuke</span>
    </div>
</div>
<!--footer end-->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/nav.js"></script>
<script src="js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="js/04-livingHelp.js"></script>
</body>
</html>