<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>05-3-resetCode</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/05-3-resetCode.css">
    <script src="//at.alicdn.com/t/font_ydrr42zlcvea5rk9.js"></script>
</head>
<body>
<!--通用top begin -->
<!--header begin-->
<header class="wrap">
    <div class="banxin welcome clearfix">
        <div class="wel_left fl">
            <span class="white">欢迎来到租房网！更多房源选择任您挑选！请选择您的位置：</span>
            <select class="city white" name="city" id="">
                <option value="武汉" selected>武汉</option>
            </select>

        </div>
        <div class="wel_right fr">
            <a class="white" href="javascript:void(0)">收藏本站 |</a>
            <a class="white" href="javascript:void(0)">设为首页 |</a>
            <a class="white" href="javascript:void(0)">登录 |</a>
            <a class="white" href="javascript:void(0)">注册 </a>
        </div>
    </div>
</header>
<!--header end-->
<!--nav begin-->
<nav class="wrap">
    <div class="banxin nav  clearfix">
        <a class="logo" href="javascript:void(0)"></a>
        <ul class="nav_items fl clearfix">
            <li class="fl"><a href="javascript:void(0)">首页</a></li>
            <li class="fl"><a href="javascript:void(0)">房源信息</a></li>
            <li class="fl"><a href="javascript:void(0)">求租信息</a></li>
            <li class="fl"><a href="javascript:void(0)">生活馆</a></li>
            <li class="fl"><a href="javascript:void(0)">注册登录</a></li>
        </ul>
        <div class="hot-line fr clearfix">
            <p class="p_number green"><b></b>400-6789-888</p>
            <p class="p_time" align="right">看房热线：<span class="green">08:00 - 21:00</span></p>
        </div>
    </div>
</nav>
<!--nav end-->
<!--通用top end -->


<div class="mask-bg wrap">
    <img src="images/login-bg.jpg" alt="">
    <div class="register">
        <h1 class="green" align="center">找回密码</h1>
        <p><input class="phoneNum" type="text" placeholder="手机号"></p>
        <span class="phone-wrong"></span>
        <p class="verification-code clearfix"><input class="fl" type="text" placeholder="手机验证码"><button class="disable fr" value="获取验证码" disabled>获取验证码</button></p>
        <span class="vCodeWrong"></span>
        <p><input class="code1" type="password" placeholder="密码"></p>
        <p><input class="code2" type="password" placeholder="再输入一次密码"></p>
        <span class="codeWrong"></span>
        <p class="reg-submit"><input type="submit" value="修 改 密 码"></p>
    </div>
</div>


<!--footer begin-->
<div class="footer wrap">
    <img src="images/footer.png" alt="">
    <div class="company banxin">
        <span class="service">SERVICE</span>
        电话咨询服务电话：<span class="number green">400-1371-365</span>
        <span class="right">&reg 2017 Zuke</span>
    </div>
</div>
<!--footer end-->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/nav.js"></script>
<script src="js/05-2-register.js"></script>
</body>
</html>