<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02房源发布</title>
    <!--图片上传 begin-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="js/dropzone-min/bootStyle.css">
    <script>
        Dropzone.autoDiscover = false;
    </script>
    <!--图片上传 end-->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/05-4-member.css">
    <link type="text/css" rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.structure.css"/>
    <link type="text/css" rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.theme.css"/>
    <link rel="stylesheet" href="css/jquery.fileupload.css">
    <script src="//at.alicdn.com/t/font_344262_t15uvgtl6elmobt9.js"></script>
</head>
<body>
<!--通用top begin -->

<!--header begin-->
<header class="wrap">
    <div class="banxin welcome clearfix">
        <div class="wel_left fl">
            <span class="white">欢迎来到租房网！更多房源选择任您挑选！请选择您的位置：</span>
            <select class="city white" name="city" id="">
                <option value="武汉" selected>武汉</option>
            </select>

        </div>
        <div class="wel_right fr clearfix">
            <a class="white" href="javascript:void(0)">收藏本站 |</a>
            <a class="white" href="javascript:void(0)">设为首页 |</a>
            <a class="white" href="javascript:void(0)">登录 |</a>
            <a class="white" href="javascript:void(0)">注册 </a>
        </div>
    </div>
</header>
<!--header end-->

<!--nav begin-->
<nav class="wrap">
    <div class="banxin nav  clearfix">
        <a class="logo fl" href="javascript:void(0)"><img src="images/LOGO.png" alt=""></a>
        <ul class="nav_items fl clearfix">
            <li class="fl"><a href="javascript:void(0)">首页</a></li>
            <li class="fl"><a href="javascript:void(0)">房源信息</a></li>
            <li class="fl"><a href="javascript:void(0)">求租信息</a></li>
            <li class="fl"><a href="javascript:void(0)">生活馆</a></li>
            <li class="fl"><a href="javascript:void(0)">注册登录</a></li>
        </ul>
        <div class="hot-line fr clearfix">
            <img src="images/QRcode.png" alt="公众号二维码">
            <p align="center">关注公众号</p>
        </div>
    </div>
</nav>
<!--nav end-->
<!--通用top end -->

<div class="user">
    <img src="images/member-bg.jpg" alt="">
    <div class="user-info banxin clearfix">
        <div class="user-face fl"><img class="avatar-pic" src="images/user-face.jpg" alt=""><a class="avatar"><input type="file">修改头像</a></div>
        <p class="user-name grey">你好，<span>XXX</span>！</p>
        <p class="user-loginTime grey">上次登录：<span>2017-06-22  11:52:00</span></p>
        <p class="user-credit grey">租客信用：<span class="green">900/1000</span> <strong class="green">优</strong></p>
    </div>
</div>
<div class="container banxin clearfix">
    <!--左边列表-->
    <ul class="tabs fl">
        <h4 align="center">账号管理</h4>
        <li><a href="05-4-member01.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-01jbxx"></use></svg> 基本信息</a></li>
        <li class="active"><a href="05-4-member02.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-02fbfy"></use></svg> 房源发布</a></li>
        <li><a href="05-4-member03.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-03fygl"></use></svg> 房源管理</a></li>
        <li><a href="05-4-member04.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-04lfgl"></use></svg> 来访管理</a></li>
        <li><a href="05-4-member05.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-05qzfb"></use></svg> 求租发布</a></li>
        <li><a href="05-4-member06.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-06qzgl"></use></svg> 求租管理</a></li>
        <li><a href="05-4-member07.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-07kfgl"></use></svg> 看房管理</a></li>
        <li><a href="05-4-member08.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-08zjgl"></use></svg> 资金管理</a></li>
        <li><a href="05-4-member09.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-09xtxx"></use></svg> 系统消息</a></li>
    </ul>
    <!--右边列表-->
    <div class="tab_container fr">
        <!--tab2 房源发布-->
        <div id="tab2" class="tab_content house-release clearfix">
            <form action="" method="POST" target="" accept-charset="UTF-8" ectype="application/x-www-form-urlencoded" autocomplete="off" novalidate>
            <h4>房源描述</h4><br>
                <textarea class="house-description" name="content" id="house-description" cols="50" rows="10" placeholder="请输入房源描述"></textarea>
                <br><br>
                <h4>房源详情</h4>
                <p>
                    <label>租赁方式：</label>
                    <select name="lease" id="leasing-method">
                        <option value="整租">整租</option>
                        <option value="合租">合租</option>
                    </select>
                </p>
                <p>
                    <label>房屋类型：</label>
                    <input class="house-type" name="category" id="house-type" type="text" placeholder="例如：2室1厅   独立卫生间   精装修">
                </p>
                <p>
                    <label>每月租金：</label>
                    <input class="house-payment" name="month_rent" type="text" placeholder="月租">元
                </p>
                <p>
                    <label>押付方式：</label>
                    押 <select name="bet" id="cashPledge">
                    <option value="1">0.5</option>
                    <option value="1">1</option>
                    <option value="1">1.5</option>
                    <option value="1">2</option>
                    <option value="1">2.5</option>
                    <option value="1">3</option>
                </select>
                    付 <select name="pay" id="cashRent">
                    <option value="1">0.5</option>
                    <option value="1">1</option>
                    <option value="1">1.5</option>
                    <option value="1">2</option>
                    <option value="1">2.5</option>
                    <option value="1">3</option>
                </select> (月份)
                </p>
                <p>
                    <label>楼层朝向：</label>
                    <select name="direction" id="floor-orientation">
                        <option value="1">东</option>
                        <option value="1">南</option>
                        <option value="1">西</option>
                        <option value="1">北</option>
                    </select>
                    <label>楼层数</label>
                    <select name="layer" id="floor-number">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                    </select>
                    <label>总层数</label>
                    <select name="total_layer" id="total-floors">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                    </select>
                </p>
                <p>
                    <label>所在小区：</label>
                    <input class="district" name="district" id="district" type="text" placeholder="输入小区名字">
                </p>
                <p class="address">
                    <label>详细地址：</label>
                    <select name="province">
                        <option value="0">湖北省</option>
                    </select>
                    <select name="city">
                        <option value="0">武汉市</option>
                    </select>
                    <select name="area">
                        <option value="0">武昌区</option>
                        <option value="1">洪山区</option>
                        <option value="2">汉阳区</option>
                    </select>
                    <input class="addr" name="address" id="addr" type="text" placeholder="具体街道地址">
                </p>
                <h4>基础设施</h4>
                <ul class="surrounding-facilities clearfix">
                    <li><img src="images/01-bingxiang.png" alt=""><br><label>冰箱</label><br><input type="checkbox" name="surrounding-facilities" value="冰箱" ></li>
                    <li><img src="images/02-reshuiqi.png" alt=""><br><label>热水器</label><br><input type="checkbox" name="surrounding-facilities" value="热水器"></li>
                    <li><img src="images/03-dianshi.png" alt=""><br><label>电视</label><br><input type="checkbox" name="surrounding-facilities" value="电视"></li>
                    <li><img src="images/05wifi.png" alt=""><br><label>无线网</label><br><input type="checkbox" name="surrounding-facilities" value="无线网"></li>
                    <li><img src="images/07-shafa.png" alt=""><br><label>沙发</label><br><input type="checkbox" name="surrounding-facilities" value="沙发"></li>
                    <li><img src="images/09-chufang.png" alt=""><br><label>厨房</label><br><input type="checkbox" name="surrounding-facilities" value="厨房"></li>
                    <li><img src="images/10nuanqi.png" alt=""><br><label>暖气</label><br><input type="checkbox" name="surrounding-facilities" value="暖气"></li>
                    <li><img src="images/11weishengjian.png" alt=""><br><label>公共卫生间</label><br><input type="checkbox" name="surrounding-facilities" value="暖气"></li>
                </ul>
                <h4>周边配套</h4>
                <p><label>附近公交：</label><input class="bus" type="text" placeholder="公交站、公交路线"></p>
                <p><label>附近地铁：</label><input class="tube" type="text" placeholder="地铁站、地铁路线"></p>
                <p><label>餐饮购物：</label><input class="mall" type="text" placeholder="商场、超市等"></p>
                <h4>客厅</h4>
                <p>有无客厅：<input type="radio" name="livingroom" id="yes"> 有 &nbsp&nbsp<input type="radio" name="livingroom" id="no"> 无</p>
                <p class="livingArea"><label>面积：</label><input class="area" type="text">&nbsp m³</p>
                <p class="livingSet">客厅配置：
                    <label>阳台 </label><input type="checkbox" name="details">&nbsp&nbsp
                    <label>飘窗 </label><input type="checkbox" name="details">&nbsp&nbsp
                </p>
                <h4>卧室</h4>
                <div class="bedroom">
                    <h5>卧室</h5>
                    <p><label>面积：</label><input class="area" type="text">&nbsp m³</p>
                    <p>房间配置：
                        <label>飘窗 </label><input type="checkbox" name="details">&nbsp&nbsp
                        <label>空调 </label><input type="checkbox" name="details">&nbsp&nbsp
                        <label>床 </label><input type="checkbox" name="details">&nbsp&nbsp
                        <label>书桌 </label><input type="checkbox" name="details">&nbsp&nbsp
                        <label>衣柜 </label><input type="checkbox" name="details">&nbsp&nbsp
                        <label>沙发 </label><input type="checkbox" name="details">&nbsp&nbsp
                        <label>独立卫生间 </label><input type="checkbox" name="details">
                    </p>
                    <p><label for=""></label></p>
                </div>
                <button class="addBedroom" type="button">增加卧室</button>
                <h4>上传房产证照片</h4>
                <p><input type="file" class="deedPic" id="test-image-file" name="deedPic"></p>
                <div class="photos" id="test-image-preview">图片预览</div>
                <h4>上传照片</h4>
                <div id="actions" class="row">
                    <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>增加图片</span>
                        </span>
                        <button type="button" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>开始上传</span>
                        </button>
                        <button type="button" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>取消上传</span>
                        </button>
                    </div>
                </div>
                <p class="red">（默认第一张为房源封面）</p>
                <div class="table table-striped files" id="previews">
                    <div id="template" class="file-row">
                        <!-- This is used as the file preview template -->
                        <div>
                            <span class="preview"><img data-dz-thumbnail /></span>
                        </div>
                        <div>
                            <p class="name" data-dz-name></p>
                            <strong class="error text-danger" data-dz-errormessage></strong>
                        </div>
                        <div>
                            <p class="size" data-dz-size></p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>上传</span>
                            </button>
                            <button data-dz-remove class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>取消</span>
                            </button>
                            <button data-dz-remove class="btn btn-danger delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>删除</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="release-ways">
                    <button class="release-pay" type="button">提交审核</button>
                    <button class="release-reserve" type="button">暂时保存</button>
                </div>
            </form>
        </div>
        <div class="backToTop">↑<p>Top</p></div>
    </div>
</div>

<!--footer begin-->
<div class="footer wrap">
    <img src="images/footer.png" alt="">
    <div class="company banxin">
        <span class="service">SERVICE</span>
        电话咨询服务电话：<span class="number green">400-1371-365</span>
        <span class="right">&reg 2017 Zuke</span>
    </div>
</div>
<!--footer end-->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/nav.js"></script>
<script src="js/05-4-member02.js"></script>
<script src="js/dropzone-min/dropzone.min.js"></script>
<script src="js/dropzone-min/bootStyle.js"></script>
<script>
    $(".backToTop").click(function () {
        console.log(11);
        scrollTo(0,0);
    });
</script>

</body>
</html>