<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>08资金管理</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/05-4-member.css">
    <link type="text/css" rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.structure.css"/>
    <link type="text/css" rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.theme.css"/>
    <script src="//at.alicdn.com/t/font_344262_t15uvgtl6elmobt9.js"></script>
</head>
<body>
<!--通用top begin -->

<!--header begin-->
<header class="wrap">
    <div class="banxin welcome clearfix">
        <div class="wel_left fl">
            <span class="white">欢迎来到租房网！更多房源选择任您挑选！请选择您的位置：</span>
            <select class="city white" name="city" id="">
                <option value="武汉" selected>武汉</option>
            </select>

        </div>
        <div class="wel_right fr clearfix">
            <a class="white" href="javascript:void(0)">收藏本站 |</a>
            <a class="white" href="javascript:void(0)">设为首页 |</a>
            <a class="white" href="javascript:void(0)">登录 |</a>
            <a class="white" href="javascript:void(0)">注册 </a>
        </div>
    </div>
</header>
<!--header end-->

<!--nav begin-->
<nav class="wrap">
    <div class="banxin nav  clearfix">
        <a class="logo fl" href="javascript:void(0)"><img src="images/LOGO.png" alt=""></a>
        <ul class="nav_items fl clearfix">
            <li class="fl"><a href="javascript:void(0)">首页</a></li>
            <li class="fl"><a href="javascript:void(0)">房源信息</a></li>
            <li class="fl"><a href="javascript:void(0)">求租信息</a></li>
            <li class="fl"><a href="javascript:void(0)">生活馆</a></li>
            <li class="fl"><a href="javascript:void(0)">注册登录</a></li>
        </ul>
        <div class="hot-line fr clearfix">
            <img src="images/QRcode.png" alt="公众号二维码">
            <p align="center">联系我们</p>
        </div>
    </div>
</nav>
<!--nav end-->
<!--通用top end -->

<div class="user">
    <img src="images/member-bg.jpg" alt="">
    <div class="user-info banxin clearfix">
        <div class="user-face fl"><img class="avatar-pic" src="images/user-face.jpg" alt=""><a class="avatar"><input type="file">修改头像</a></div>
        <p class="user-name grey">你好，<span>XXX</span>！</p>
        <p class="user-loginTime grey">上次登录：<span>2017-06-22  11:52:00</span></p>
        <p class="user-credit grey">租客信用：<span class="green">900/1000</span> <strong class="green">优</strong></p>
    </div>
</div>
<div class="container banxin clearfix">
    <!--左边列表-->
    <ul class="tabs fl">
        <h4 align="center">账号管理</h4>
        <li><a href="05-4-member01.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-01jbxx"></use></svg> 基本信息</a></li>
        <li><a href="05-4-member02.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-02fbfy"></use></svg> 房源发布</a></li>
        <li><a href="05-4-member03.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-03fygl"></use></svg> 房源管理</a></li>
        <li><a href="05-4-member04.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-04lfgl"></use></svg> 来访管理</a></li>
        <li><a href="05-4-member05.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-05qzfb"></use></svg> 求租发布</a></li>
        <li><a href="05-4-member06.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-06qzgl"></use></svg> 求租管理</a></li>
        <li><a href="05-4-member07.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-07kfgl"></use></svg> 看房管理</a></li>
        <li class="active"><a href="05-4-member08.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-08zjgl"></use></svg> 资金管理</a></li>
        <li><a href="05-4-member09.html"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-09xtxx"></use></svg> 系统消息</a></li>
    </ul>
    <!--右边列表-->
    <div class="tab_container fr">
        <!--tab8 资金管理-->
        <div id="tab8" class="tab_content money-manage">
            <h4>冻结中的资金</h4>
            <p>xxx</p>
            <h4>可提现的资金</h4>
            <p>xxx</p>
            <h4>资金明细</h4>
            <p>xxx</p>
            <h4>提现</h4>
            <p>xxx</p>
            <button type="button">提现</button>
        </div>
        <div class="backToTop">↑<p>Top</p></div>
    </div>
</div>


<!--footer begin-->
<div class="footer wrap">
    <img src="images/footer.png" alt="">
    <div class="company banxin">
        <span class="service">SERVICE</span>
        电话咨询服务电话：<span class="number green">400-1371-365</span>
        <span class="right">&reg 2017 Zuke</span>
    </div>
</div>
<!--footer end-->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/nav.js"></script>
<script src="js/05-4-member.js"></script>
<script src="js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script>
    $(".backToTop").click(function () {
        console.log(11);
        scrollTo(0,0);
    });
</script>

</body>
</html>