{% extends 'frontend/base.html' %}

{% block pageheader %}
首页
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/website/css/05-1-login.css">
{% endblock %}

{% block container %}

<div class="mask-bg wrap">
    <img src="/static/website/images/login-bg.jpg" alt="">
    <div class="login">
        <h1 class="green" align="center">登陆</h1>
        <p class="user-name" align="center"><input type="text" id="user_name" name="user_name" placeholder="手机号/邮箱"></p>
        <p class="pwd" align="center"><input type="password" id="login_password" name="login_password" placeholder="密码"></p>
        <div class="register-code clearfix">
            <div class="fl">
                <input id="auto-login" type="checkbox">&nbsp<span>三天内自动登陆</span>
            </div>
            <div class="fr">
                <a href="{% url 'website:home_register' %}">立即注册</a>&nbsp
                <a href="#">忘记密码</a>
            </div>
        </div>
        <p class="submit"><input class="white" type="submit" id="subLogin" name="subLogin" value="登 录" onclick="login();"></p>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/website/js/jquery.cookie.js"></script>
<script src="/static/website/js/jquery.base64.js"></script>
<script src="/static/website/js/05-1-login.js"></script>
<script>
    function login(){
    var userName = $('#user_name').val();
    if(userName == ''){
        alert("请输入用户名。");
        $('#user_name').select();
        return;
    }
    var userPass = $('#login_password').val();
    if(userPass == ''){
        alert("请输入密码。");
        $('#login_password').select();
        return;
    }

    $.ajax({
        url: '{% url "website:home_login" %}',
        async: false,
        type: 'post',
        data: {
            userName: userName,
            userPass: userPass
        },
        success: function(res, status){
            if(!res.error_code){
                location.href = '{{domain}}'
            }else{
                alert(res.error_msg)
            }
        },
        error: function(res, status){
            alert('登陆失败')
        }
    })

    //判断是否选中复选框，如果选中，添加cookie
    var checked = document.getElementById("auto-login").checked; //获取“是否记住密码”复选框
    if(checked) {
        //添加cookie
        setCookie();
    }
}

</script>
{% endblock %}
