{% extends 'frontend/base.html' %}

{% block pageheader %}
用户注册
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/website/css/05-2-registeer.css">
{% endblock %}

{% block container %}
    <div class="mask-bg wrap">
        <img src="/static/website/images/login-bg.jpg" alt="">
        <div class="register">
            <h1 class="green" align="center">注册</h1>
            <p><input class="phoneNum" id="phoneNum" type="text" placeholder="手机号"></p>
            <span class="phone-wrong"></span>
            <p class="verification-code clearfix">
                <input class="fl" type="text" id="vcode" placeholder="手机验证码">
                <button class="fr able get_v_code" value="获取验证码">获取验证码</button>
            </p>
            <span class="vCodeWrong"></span>
            <p>
                <input class="mailbox" id="email" type="text" placeholder="邮箱">
            </p>
            <span class="mailWrong"></span>
            <p>
                <input class="code1" id="password1" type="password" placeholder="密码">
            </p>
            <p>
                <input class="code2" id="password2" type="password" placeholder="再输入一次密码">
            </p>
            <span class="codeWrong"></span>
            <p class="reg-submit">
                <input type="submit" id="submit" value="立 即 注 册">
            </p>
        </div>

    </div>
{% endblock %}

{% block script %}
<script src="/static/website/js/05-2-register.js"></script>
<script>
/**
 * Created by Administrator on 2017/8/8 0008.
 */
$(document).ready(function () {

    $("#submit").on('click', function(){
        var phoneNum = $.trim($('#phoneNum').val())
        var vcode = $.trim($('#vcode').val())
        var email = $.trim($('#email').val())
        var password1 = $.trim($('#password1').val())
        var password2 = $.trim($('#password2').val())
        var tongguo = true
        // //手机空
        // if(phoneNum === ""){
        //     alert("请输入手机号");
        //     return
        // }

        // //验证空
        // if(vcode === ""){
        //     alert("请输入验证码");
        //     return
        // }

        // //邮箱空
        // if(email === ""){
        //     alert("请输入邮箱");
        //     return
        // }

        // //密码空
        // if(password1 === "" || password2 === ""){
        //     alert("请输入密码");
        //     return
        // }


        //手机合法性验证
        var reg1 = /^(13[0-9]|15[0-9]|18[0-9])\d{8}$/;
        console.log(phoneNum);
        if(reg1.test(phoneNum)){
            //3、符合个给一个样式，不符合给另一个样式
            $('.phoneNum').css('color','green');
            // $(".verification-code button").removeClass("disable").addClass("able").removeAttr("disabled");
        }else{
            $('.phoneNum').css('color','red');
            $(".phone-wrong").html("请输入正确的手机号").addClass("wrong");
            console.log($(".phone-wrong"));
            // $(".verification-code button").removeClass("able").addClass("disable").attr("disabled","disabled");
            tongguo = false
        }
        // 验证码校验
        if($.trim(vcode)){
            $(".verification-code input").css("color","green");
        }else{
            $(".verification-code input").css("color","red");
            $(".vCodeWrong").html("请输入验证码").addClass("wrong");
            tongguo = false
        }
        // 邮箱校验
        var reg2 = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
        if(reg2.test(email)){
            $('.mailbox').css("color","green");
        }else {
            $(".mailWrong").html("邮箱格式不正确").addClass("wrong");
            tongguo = false
        }

        if(password1 === "" || password2 === ""){
            $(".codeWrong").html("请输入密码").addClass("wrong");
            tongguo = false
        }

        if(password1 !== password2){
            $(".codeWrong").html("两次密码不一样").addClass("wrong");
            tongguo = false
        }
        // 都不为空才能提交
        if (tongguo) {
            $.ajax({
                url: '{% url "website:home_register" %}',
                async: false,
                type: 'post',
                data: {
                    phoneNum: phoneNum,
                    vcode: vcode,
                    email: email,
                    password1: password1,
                    password2: password2
                },
                success: function(res, status){
                    alert(res.error_msg)
                    if(!res.error_code){
                        location.href = '{{domain}}'
                    }
                },
                error: function(res, status){
                    alert('注册失败')
                }
            })
        }
    })

    $('.get_v_code').on('click', function(){
        var phoneNum = $.trim($('#phoneNum').val())
        var reg1 = /^(13[0-9]|15[0-9]|18[0-9])\d{8}$/;
        if(!reg1.test(phoneNum)){
            alert('请输入正确的手机号')
        }else{
            alert('验证码发送成功')

        }
    })
    $(".phoneNum").focus(function () {
        $(this).css("color","black");
        $(".phone-wrong").html("").removeClass("wrong");
    });

    $(".verification-code input").focus(function () {
        $(this).css("color","black");
        $(".vCodeWrong").html("").removeClass("wrong");
    });

    $(".mailbox").focus(function () {
        $(this).css("color","black");
        $(".mailWrong").html("").removeClass("wrong");
    });

    //重新输入
    $(".code1").focus(function () {
        codeWrongHide();
    });
    $(".code2").focus(function () {
        codeWrongHide();
    });
    function codeWrongHide() {
        $(".codeWrong").html("").removeClass("wrong");
    }

});
</script>
{% endblock %}