<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>X</title>
    <link rel="stylesheet" href="../static/style/index.css">
</head>
    <body class="pb50">
        <img src="../static/img/icon_eye.png" alt="" class="icon_eye">
        <div class="container input_title">
            <h3>更换手机号</h3>
        </div>
        <div class="container input_wrap">
            <div class="input_section">
                <input type="email" placeholder="手机号">
            </div>
            <div class="input_section input_verify">
                <input type="email" placeholder="验证码">
                <div class="get_verify">获取验证码</div>
            </div>
            <button class="btn btn-bound">下一步</button>
        </div>

        <script src="../static/vendor/jquery-3.1.1.min.js"></script>
        <script>
          $(function () {
          })
        </script>
    </body>
</html>