{% extends 'h5/base.html' %}
{% block title %}更换手机号{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
        <img src="/static/h5/img/icon_eye.png" alt="" class="icon_eye">
        <div class="container input_title">
            <h3>更换手机号</h3>
        </div>
        <div class="container input_wrap">
            <form method="POST" >
                {% csrf_token %}
                <div class="input_section">
                    <input type="number" name="phone" id="mobile" placeholder="手机号">
                </div>
                <div class="input_section input_verify">
                    <input type="number" name="code" placeholder="验证码">
                    <div class="get_verify">获取验证码</div>
                </div>
                <span style="color: red">{{ msg }}</span>
                <button class="btn btn-bound">更换手机号</button>
            </form>
        </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('.get_verify').on('click', function() {
                var mobile = $.trim($("#mobile").val())
                if (!mobile) {
                    return;
                };
                $.ajax({
                  method: "GET",
                  url: '{{domain}}/h5/send_v_code/?mobile=' + mobile
                }).done(function( args ) {
                    if (!args.error_code) {
                        alert('发送成功')
                    }else{
                        alert('发送失败')
                    }
                })
            })
        })
    </script>
{% endblock %}