{% extends 'h5/base.html' %}
{% block title %}x{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
    <img src="/static/h5/img/icon_eye.png" alt="" class="icon_eye">
    <div class="container input_title">
        <h3>修改姓名</h3>
    </div>
    <div class="container input_wrap">
        <form method="POST" >
            {% csrf_token %}
            <div class="input_section">
                <input type="text" name="username" value="{{ user_info.user_name }}" placeholder="姓名">
            </div>
            <button class="btn btn-bound">确定</button>
        </form>
    </div>
{% endblock %}