{% extends 'h5/base.html' %}
{% block title %}首页{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
    <div class="fix_bottom">
        <a href="{% url 'h5:user_attachment' %}" class="fix_bottom-item active">
            <i class="icon_paper"></i>
            <div>发布项目</div>
        </a>
        <a href="{% url 'h5:user_index' %}" class="fix_bottom-item">
            <i class="icon_person"></i>
            <div>个人中心</div>
        </a>
    </div>

    <div class="projects j_project" data-page="1">
    {% for p in projects %}
        <div class="project">
            <a href="{% url 'h5:project_detail' p.id %}">
                <h3>{{ p.name }}</h3>
                <div class="project_b">
                    <span>发布者：{{ p.user_info.user_name }}</span>
                    <span>{{ p.created|date:"Y-m-d H:i" }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
    {% if not project_count %}
        <img src="/static/h5/img/icon@2x.png" alt="" class="icon_empty">
        <p class="empty_txt">暂无项目</p>
    {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            var top_tab = $('.j_project')
            $(window).on('scroll', function(e) {
                if ($(document).scrollTop() + $(window).height() >= $(document).height()) {
                    console.log('start ajax')
                    var has_next = top_tab.attr('has_next')
                    if (parseInt(has_next) === 1) {
                        var currentPage = top_tab.attr('data-page')
                        top_tab.attr('data-page', Number(currentPage) + 1)
                        var nextPage = top_tab.attr('data-page')
                        var url = "{% url 'h5:h5_index' %}" + "?page" + currentPage + '&name' + experts_apply_treasure
                        $.get(url, function(data, status) {
                            console.log(data)
                            if (status == 'success') {
                                top_tab.attr('has_next', data.has_next)
                                top_tab.append(data.html)
                            }
                        })
                    }
                }
            })
        })
    </script>
{% endblock %}