{% extends 'h5/base.html' %}
{% block title %}首页{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
    <div class="fix_bottom">
        <a href="{% url 'h5:user_attachment' %}" class="fix_bottom-item active">
            <i class="icon_paper"></i>
            <div>发布项目</div>
        </a>
        <a href="{% url 'h5:user_index' %}" class="fix_bottom-item">
            <i class="icon_person"></i>
            <div>个人中心</div>
        </a>
    </div>

    <div class="projects" has_next="1" page="1">
    {% for p in projects %}
        <div class="project">
            <a href="{% url 'h5:project_detail' p.id %}">
                <h3>{{ p.name }}</h3>
                <div class="project_b">
                    <span>发布者：{{ p.user_info.user_name }}</span>
                    <span>{{ p.created|date:"Y-m-d H:i" }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
    {% if not project_count %}
        <img src="/static/h5/img/icon@2x.png" alt="" class="icon_empty">
        <p class="empty_txt">暂无项目</p>
    {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $(document).scroll(function(){
                if ($(document).scrollTop() + $(window).height() >= $(document).height()){
                    var top_tab = $(".projects");
                    var has_next = top_tab.attr('has_next');
                    if (has_next == "1"){
                        next_page = Number(top_tab.attr('page')) + 1;
                        var url = "{% url 'h5:h5_index' %}" + "?page=" + next_page + '&name=' + experts_apply_treasure;
                        $.get(url, function(data,status){
                            console.log('--------------response--------------------')
                            console.log(data)
                            if (status == "success"){
                                var has_next = data.has_next;
                                var html = data.html;
                                var page = data.page;
                                current_page = top_tab.attr('page')
                                if (parseInt(current_page) < page) {
                                    top_tab.attr('has_next', has_next);
                                    top_tab.attr('page', page);
                                    top_tab.append(html);
                                }

                            }
                        })
                    }
                }
            })
        })
    </script>
{% endblock %}