{% extends 'h5/base.html' %}
{% block title %}登录{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
    <img src="/static/h5/img/icon_eye.png" alt="" class="icon_eye">
    <div class="container input_title">
        <h3>登录</h3>
    </div>
    <form method="POST" onsubmit="return checkFrom()">
        {% csrf_token %}
        <div class="container input_wrap">
            <div class="input_section">
                <input type="number"  name="phone" id="mobile" placeholder="手机号">
            </div>
            <div class="input_section input_verify">
                <input type="number"  id="code" name="code" placeholder="验证码">
                <div class="get_verify js_verify" style="cursor:hand">获取验证码</div>
            </div>
            <span style="color: red">{{ msg }}</span>
            <button class="btn btn-bound">登录</button>
        </div>
    </form>
    <div class="scroll-view">
        <ul class="clearfloat">
        {% for t in team_show_list %}
            <li>
                <img src="{{ t.img_url }}" alt="">
                <p>{{ t.title }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function checkFrom(){
            var code = document.getElementById("code").value;
            if (!checkMobile()) {
                return false
            }
            if(!code){
                alert("验证码不能为空");
                return false
            }
            return true
        }
        function checkMobile(){
            var sMobile = document.getElementById("mobile").value;

            if (!sMobile) {
                alert("手机号不能为空");
                return false
            }else if(!(/^1[3|4|5|7|8][0-9]\d{4,8}$/.test(sMobile))){
                alert("不是完整的11位手机号或者正确的手机号前七位");
                document.mobileform.mobile.focus();
                return false;
            }
            return true
        }

    </script>
    <script>
      $(function () {
        $('.js_verify').on('click', function() {
            if (!checkMobile()) {
                return;
            };
            // 发送短信
            $.ajax({
              method: "GET",
              url: '{{domain}}/h5/send_v_code/?mobile=' + mobile
            }).done(function( args ) {
                if (!args.error_code) {
                    var cout_down = 60
                    var _this = $(this)
                    var timeDown = setInterval(function() {
                        cout_down--
                        _this.html(cout_down)
                        if (cout_down <= 0) {
                            clearInterval(timeDown)
                            _this.html('获取验证码')
                        }
                    },1000)
                }else{
                    alert('发送失败')
                }
            })

        })
      })
    </script>
{% endblock %}
