{% extends 'h5/base.html' %}
{% block title %}x{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
    <img src="/static/h5/img/icon_eye.png" alt="" class="icon_eye">
    <div class="container input_title">
        <h3>登录</h3>
    </div>
    <form method="POST" >
        {% csrf_token %}
        <div class="container input_wrap">
            <div class="input_section">
                <input type="number"  name="phone" placeholder="手机号">
            </div>
            <div class="input_section input_verify">
                <input type="number"  name="code" placeholder="验证码">
                <div class="get_verify">获取验证码</div>
            </div>
            <span style="color: red">{{ msg }}</span>
            <button class="btn btn-bound">登录</button>
        </div>
    </form>
    <div class="scroll-view">
        <ul class="clearfloat">
        {% for t in team_show_list %}
            <li>
                <img src="{{ t.img_url }}" alt="">
                <p>{{ t.title }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('.get_verify').on('click', function(argument) {
                alert('短信发送成功')
            })
        })
    </script>
{% endblock %}
