{% extends 'h5/base.html' %}
{% block title %}个人中心{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
    {% for a in attachment_list %}
    <div class="detail-section noflex my-file active">
        <h4>{{ a.title }}</h4>
        <div class="t">{{ a.created|date:"Y-m-d H:i" }}</div>
        <div class="flex-sa">
            <a href="{% url 'h5:project_attachment' a.id %}" class="btn-blue">查看附件</a>
            <a href="{% url 'h5:project_create' a.id %}" class="btn-pink">发布项目</a>
        </div>
    </div>
    {% endfor %}

    {% if not attachment_list %}
        <div class="email_tab">当前绑定邮箱为 {{ user_info.email }}</div>
        <p class="email_tip">使用绑定的邮箱给 1986923981@qq.com 发附件，并在我的附件中发布项目，您的项目就会被专家看到。</p>
        <p class="send_font-pink">说明：附件格式仅限PDF,PPT</p>
    {% endif %}

{% endblock %}