{% extends 'h5/base.html' %}
{% block title %}个人中心{% endblock %}

{% block container %}
    <div class="projects">
        {% for p in projects %}
            <div class="project">
                <a href="{% url 'h5:project_detail' p.id %}">
                    <h3>{{ p.name }}</h3>
                    <div class="project_b">
                        <span>发布者：{{ p.user_info.user_name }}</span>
                        <span>{{ p.created|date:"Y-m-d H:i" }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if not project_count %}
            <img src="/static/h5/img/icon@2x.png" alt="" class="icon_empty">
            <p class="empty_txt">暂无项目</p>
        {% endif %}
    </div>
{% endblock %}