<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>X</title>
    <link rel="stylesheet" href="../static/style/index.css">
</head>
<body>
    <div class="projects">
        <a href="">
            <div class="project">
                <h3>项目名称</h3>
                <div class="project_b"><span>发布者：小明</span><span>2017-12-03 12:00</span></div>
            </div>
        </a>
        <a href="">
            <div class="project">
                <h3>项目名称</h3>
                <div class="project_b"><span>发布者：小明</span><span>2017-12-03 12:00</span></div>
            </div>
        </a>
        <a href="">
            <div class="project">
                <h3>项目名称</h3>
                <div class="project_b"><span>发布者：小明</span><span>2017-12-03 12:00</span></div>
            </div>
        </a>
    </div>

    <script src="../static/vendor/jquery-3.1.1.min.js"></script>
    <script>
      $(function () {
      })
    </script>
</body>
</html>