<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>X</title>
    <link rel="stylesheet" href="../static/style/index.css">
</head>
<body class="pb50">
    <a href="">
        <div class="tap_item">
            <div class="tap_box box_flex">
                <span class="font_gray">姓名</span>
                <span>小明</span>
            </div>
        </div>
    </a>
    <a href="">
        <div class="tap_item">
            <div class="tap_box box_flex">
                <span class="font_gray">姓名</span>
                <span>小明</span>
            </div>
        </div>
    </a>

    <script src="../static/vendor/jquery-3.1.1.min.js"></script>
    <script>
      $(function () {
      })
    </script>
</body>
</html>