{% extends 'h5/base.html' %}
{% block title %}x{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
    <a href="{% url 'h5:edit_uname' %}">
        <div class="tap_item">
            <div class="tap_box box_flex">
                <span class="font_gray">姓名</span>
                <span>{{ user_info.user_name }}</span>
            </div>
        </div>
    </a>
    <a href="{% url 'h5:edit_email' %}">
        <div class="tap_item">
            <div class="tap_box box_flex">
                <span class="font_gray">邮箱</span>
                <span>{{ user_info.email }}</span>
            </div>
        </div>
    </a>
    <a href="{% url 'h5:edit_mobile' %}">
        <div class="tap_item">
            <div class="tap_box box_flex">
                <span class="font_gray">手机号</span>
                <span>{{ user_info.mobile }}</span>
            </div>
        </div>
    </a>
{% endblock %}