{% extends 'h5/base.html' %}
{% block title %}x{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
    <div class="sign_out">退出</div>
    <a href="{% url 'h5:person_info' %}">
        <div class="tap_item">
            <div class="tap_box">
                <span>个人信息</span>
            </div>
        </div>
    </a>
    <a href="{% url 'h5:user_project' %}">
        <div class="tap_item">
            <div class="tap_box">
                <span>我发布的项目</span>
            </div>
        </div>
    </a>
    <a href="{% url 'h5:user_attachment' %}">
        <div class="tap_item">
            <div class="tap_box">
                <span>我的附件</span>
            </div>
        </div>
    </a>
    <a href="{% url 'h5:about' %}">
        <div class="tap_item">
            <div class="tap_box">
                <span>关于我们</span>
            </div>
        </div>
    </a>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('.sign_out').on('click', function() {
                window.location.href = "{% url 'h5:login_out' %}"
            })
        })
    </script>
{% endblock %}
