{% extends 'h5/base.html' %}
{% block title %}x{% endblock %}

{% block container %}
    <div class="detail_title">
        <div class="clearfloat section">
            <h3 class="project_name">{{ project.name }}</h3>
            <span class="font-gray-s">浏览数 {{ project.read_count }}</span>
        </div>
        <div class="clearfloat section">
            <sapn class="font-pink-s">发布者：{{ project.user_info.user_name }}</sapn>
            <span class="font-gray-s">{{ project.created|date:"Y-m-d H:i" }}</span>
        </div>
    </div>
    <div class="detail-section">
        <span class="t">主控主题</span>
        <span class="v">{{ project.theme }}</span>
    </div>
    <div class="detail-section">
        <span class="t">项目总投资</span>
        <span class="v">¥{{ project.total_amount }}</span>
    </div>
    <div class="detail-section">
        <span class="t">投资份额</span>
        <span class="v">{{ project.share_amount }}%</span>
    </div>
    <div class="detail-section">
        <span class="t">投资周期</span>
        <span class="v">{{ project.cycle }}年</span>
    </div>
    <div class="detail-section">
        <span class="t">预估回报</span>
        <span class="v">{{ project.expect_return }}%</span>
    </div>
    <div class="detail-section">
        <span class="t">项目进度</span>
        <span class="v">{{ project.progress }}</span>
    </div>
    <div class="detail-section noflex">
        <div class="t">备注</div>
        <p class="v">{{ project.note }}</p>
    </div>
    <div class="detail-section noflex">
        <div class="v tac pd100">解析后的附件内容</div>
    </div>
    <div class="detail-section noflex">
        <div class="t tac">评论</div>
        {% for c in project.comments %}
            <div class="comment">{{ c.user_info.user_name }}：{{ c.content|safe }}</div>
        {% endfor %}
    </div>
{% endblock %}
