<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>X</title>
    <link rel="stylesheet" href="../static/style/index.css">
</head>
<body>
    <div class="detail_title">
        <div class="clearfloat section">
            <h3 class="project_name">项目名称</h3>
            <span class="font-gray-s">浏览数 99</span>
        </div>
        <div class="clearfloat section">
            <sapn class="font-pink-s">发布者：小明</sapn>
            <span class="font-gray-s">2017-12-03 12:00</span>
        </div>
    </div>
    <div class="detail-section">
        <span class="t">主控主题</span>
        <span class="v">xxxxxxx</span>
    </div>
    <div class="detail-section">
        <span class="t">项目总投资</span>
        <span class="v">¥10,000,00</span>
    </div>
    <div class="detail-section">
        <span class="t">投资份额</span>
        <span class="v">30%</span>
    </div>
    <div class="detail-section">
        <span class="t">投资周期</span>
        <span class="v">1年</span>
    </div>
    <div class="detail-section">
        <span class="t">预估回报</span>
        <span class="v">200%</span>
    </div>
    <div class="detail-section">
        <span class="t">项目进度</span>
        <span class="v">已拍摄</span>
    </div>
    <div class="detail-section noflex">
        <div class="t">备注</div>
        <p class="v">项目有序的进行中，希望一切顺利</p>
    </div>
    <div class="detail-section noflex">
        <div class="v tac pd100">解析后的附件内容</div>
    </div>
    <div class="detail-section noflex">
        <div class="t tac">评论</div>
        <div class="comment">李教授：我的觉很好</div>
        <div class="comment">李教授：我的觉很好</div>
    </div>

    <script src="../static/vendor/jquery-3.1.1.min.js"></script>
    <script>
      $(function () {
      })
    </script>
</body>
</html>