{% extends 'h5/base.html' %}
{% block title %}项目详情{% endblock %}

{% block container %}
    <div class="navbar">
        <a class="back" href="{% url "h5:h5_index" %}"></a>
    </div>
    <div class="pdf-modal">
        <div>
            <img src="/static/h5/img/loads.gif" alt="" class="loading" id="loading">
            <canvas id="pdf_view"></canvas>
        </div>
    </div>
    <div class="float_ele">
        <span class="close-btn"></span>
        <div class="pdf-page">
            <div class="page-btn-prev" id="prev">上一页</div>
            <div><span class="page-now" id="page_num"></span>/<span class="page-total" id="page_count"></span></div>
            <div class="page-btn-next" id="next">下一页</div>
        </div>
    </div>
    <div class="detail_title">
        <div class="clearfloat section">
            <h3 class="project_name">{{ project.name }}</h3>
            <span class="font-gray-s">浏览数 {{ project.read_count }}</span>
        </div>
        <div class="clearfloat section">
            <sapn class="font-pink-s">发布者：{{ project.user_info.user_name }}</sapn>
            <span class="font-gray-s">{{ project.created|date:"Y-m-d H:i" }}</span>
        </div>
    </div>
    <div class="detail-section">
        <span class="t">主控方</span>
        <span class="v">{{ project.theme }}</span>
    </div>
    <div class="detail-section">
        <span class="t">项目总投资</span>
        <span class="v">¥{{ project.total_amount }}</span>
    </div>
    <div class="detail-section">
        <span class="t">投资份额</span>
        <span class="v">{{ project.share_amount }}%</span>
    </div>
    <div class="detail-section">
        <span class="t">投资周期</span>
        <span class="v">{{ project.cycle }}年</span>
    </div>
    <div class="detail-section">
        <span class="t">预估回报</span>
        <span class="v">{{ project.expect_return }}%</span>
    </div>
    <div class="detail-section">
        <span class="t">项目进度</span>
        <span class="v">{{ project.progress }}</span>
    </div>
    <div class="detail-section noflex">
        <div class="t">备注</div>
        <p class="v">{{ project.note }}</p>
    </div>
    <div class="detail-section noflex" id="pdf_btn">
        <div class="v tac pd100">点击查看解析后的附件内容</div>
    </div>
    <div class="detail-section noflex">
        <div class="t tac">评论</div>
        {% for c in project.comments %}
            <div class="comment">{{ c.email }}：{{ c.content|safe }}</div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script src="/static/h5/vendor/pdf.js"></script>
<script>
  $(function () {
    // If absolute URL from the remote server is provided, configure the CORS
    // header on that server.
    var url = '{{ project.attachment.file_url }}';
    // The workerSrc property shall be specified.
    // PDFJS.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';
    var pdfDoc = null,
        pageNum = 1,
        pageRendering = false,
        pageNumPending = null,
        scale = 0.8,
        canvas = document.getElementById('pdf_view'),
        ctx = canvas.getContext('2d');
    /**
     * Get page info from document, resize canvas accordingly, and render page.
     * @param num Page number.
     */
    function renderPage(num) {
      pageRendering = true;
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function(page) {
        var viewport = page.getViewport(scale);
        canvas.height = viewport.height;
        canvas.width = viewport.width;
        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };
        var renderTask = page.render(renderContext);
        // Wait for rendering to finish
        renderTask.promise.then(function() {
          pageRendering = false;
          if (pageNumPending !== null) {
            // New page rendering is pending
            renderPage(pageNumPending);
            pageNumPending = null;
          }
        });
      });
      // Update page counters
      document.getElementById('page_num').textContent = pageNum;
    }
    /**
     * If another page rendering in progress, waits until the rendering is
     * finised. Otherwise, executes rendering immediately.
     */
    function queueRenderPage(num) {
      if (pageRendering) {
        pageNumPending = num;
      } else {
        renderPage(num);
      }
    }
    /**
     * Displays previous page.
     */
    function onPrevPage() {
      if (pageNum <= 1) {
        return;
      }
      pageNum--;
      queueRenderPage(pageNum);
    }
    document.getElementById('prev').addEventListener('click', onPrevPage);
    /**
     * Displays next page.
     */
    function onNextPage() {
      if (pageNum >= pdfDoc.numPages) {
        return;
      }
      pageNum++;
      queueRenderPage(pageNum);
    }
    document.getElementById('next').addEventListener('click', onNextPage);
    /**
     * Asynchronously downloads PDF.
     */
    PDFJS.getDocument(url).then(function(pdfDoc_) {
      pdfDoc = pdfDoc_;
      document.getElementById('loading').style.display = 'none';
      document.getElementById('page_count').textContent = pdfDoc.numPages;
      // Initial/first page rendering
      renderPage(pageNum);
    });
    $('#pdf_btn').on('click', function() {
        $('.pdf-modal').addClass('active');
        $('.float_ele').show();
    });
    $('.close-btn').on('click', function() {
       $('.pdf-modal').removeClass('active'); 
       $('.float_ele').hide();
    })
  })
</script>
{% endblock %}

