<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>X</title>
    <link rel="stylesheet" href="../static/style/index.css">
</head>
<body class="pb50">
    <div class="detail-section noflex my-file">
        <h4>附件名称</h4>
        <div class="t">2017-12-03 12:00</div>
    </div>
    <div class="pb-section flex">
        <span class="k">项目名称</span>
        <input class="input tr" type="text" placeholder="输入内容">
    </div>
    <div class="pb-section flex">
        <span class="k">主控主题</span>
        <input class="input tr" type="text" placeholder="输入内容">
    </div>
    <div class="pb-section flex">
        <span class="k">项目总投资</span>
        <input class="input tr" type="text" placeholder="输入内容">
    </div>
    <div class="pb-section flex">
        <span class="k">投资份额</span>
        <input class="input tr" type="text" placeholder="输入内容">
    </div>
    <div class="pb-section flex">
        <span class="k">投资周期</span>
        <input class="input tr" type="text" placeholder="输入内容">
    </div>
    <div class="pb-section flex">
        <span class="k">预估回报</span>
        <input class="input tr" type="text" placeholder="输入内容">
    </div>
    <div class="pb-section flex">
        <span class="k">项目进度</span>
        <input class="input tr" type="text" placeholder="输入内容">
    </div>
    <div class="pb-section">
        <div class="tip">备注</div>
        <textarea class="text" placeholder="输入内容"></textarea>
    </div>
    <button class="btn-pink-large">发布</button>


    <script src="../static/vendor/jquery-3.1.1.min.js"></script>
    <script>
      $(function () {
      })
    </script>
</body>
</html>