{% extends 'h5/base.html' %}
{% block title %}发布项目{% endblock %}

{% block bodyclass %} class="pb50" {% endblock %}
{% block container %}
    <div class="navbar">
        <a class="back" href="{% url "h5:user_attachment" %}"></a>
    </div>
    <form method="POST" >
        {% csrf_token %}
        <div class="detail-section noflex my-file">
            <h4>{{ attachment.title }}</h4>
            <div class="t">{{ attachment.created|date:"Y-m-d H:i" }}</div>
        </div>
        <div class="pb-section flex">
            <span class="k">项目名称</span>
            <input class="input tr" type="text" name="name" placeholder="输入内容">
        </div>
        <div class="pb-section flex">
            <span class="k">主控方</span>
            <input class="input tr" type="text" name="theme" placeholder="输入内容">
        </div>
        <div class="pb-section flex">
            <span class="k">项目总投资</span>
            <input class="input tr" type="text" name="total_amount" placeholder="输入内容">
        </div>
        <div class="pb-section flex">
            <span class="k">投资份额</span>
            <input class="input tr" type="text" name="share_amount" placeholder="输入内容">
        </div>
        <div class="pb-section flex">
            <span class="k">投资周期</span>
            <input class="input tr" type="text" name="cycle" placeholder="输入内容">
        </div>
        <div class="pb-section flex">
            <span class="k">预估回报</span>
            <input class="input tr" type="text" name="expect_return" placeholder="输入内容">
        </div>
        <div class="pb-section flex">
            <span class="k">项目进度</span>
            <input class="input tr" type="text" name="progress" placeholder="输入内容">
        </div>
        <div class="pb-section">
            <div class="tip">备注</div>
            <textarea class="text" name="note" placeholder="输入内容"></textarea>
        </div>
        <input type="hidden" name="attachment_id" value="{{ attachment.id }}">
        <button class="btn-pink-large">发布</button>
    </form>
{% endblock %}
