{% extends 'super/base.html' %}

{% block pageheader %}
系统管理员
{% endblock %}

{% block mainbody %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      系统管理员
    </h3>
    <div class="box-tools">
    </div>
  </div><!-- /.box-header -->

  <div class="box-body">
    <div style="margin-bottom:15px;">
      <a class="btn btn-info" href="{% url 'web:operating_create' %}">新建</a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>#</th>
              <th>账号</th>
              <th>权限组</th>
              <th>操作</th>
            </tr>
            {% for c in clients %}
              <tr role="row">
                <td style="vertical-align: middle;">{{ c.id }}</td>
                <td style="vertical-align: middle;">{{ c.user.username }}</td>
                <td style="vertical-align: middle;">{{ c.permissions.name }}</td>
                <td style="vertical-align: middle;">
                  <a class="btn-xs btn-info" href="{% url 'web:operating_edit' c.id %}?page={{page}}">编辑</a>
                  <a class="btn-xs btn-danger" href="{% url 'web:operating_delete' c.id %}?page={{page}}" onclick="return confirm('确认删除吗?')">删除</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <center>
        <ul class="pagination">
          <li class={% if clients.has_previous %}"previous"{% else %}"previous disabled"{% endif %}>
            <a {% if clients.has_previous %}href="?page={{clients.previous_page_number}}"{% endif %}>
              <span aria-hidden="true">上一页</span>
            </a>
          </li>
          <li class={% if clients.has_next %}"next"{% else %}"next disabled"{% endif %}>
            <a {% if clients.has_next %}href="?page={{clients.next_page_number}}"{% endif %}>
              <span aria-hidden="true">下一页</span>
            </a>
          </li>
        </ul>
      </center>
    </div>

    <div class="row">
      <center>
        <span>第{{clients.number}}页，</span>
        <span>共{{clients.paginator.num_pages}}页/共{{clients.paginator.count}}条记录</span>        
      </center>
    </div>

  </div>
</div>
{% endblock %}
