{% extends 'super/base.html' %}

{% block pageheader %}
  {% if client.id %}
  编辑分类
  {% else %}
  新建分类
  {% endif %}
{% endblock %}

{% block mainbody %}
<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">
      {% if client.id %}
      编辑分类
      {% else %}
      新建分类
      {% endif %}
    </h3>
  </div><!-- /.box-header -->
  <!-- form start -->

  <div class="box-body">
    <form role="form" method="POST"
      {% if not client.id %}
      action="{% url 'web:category_create' %}"
      {% else %}
      action="{% url 'web:category_edit' client.id %}"
      {% endif %}
      enctype="multipart/form-data">
      {% csrf_token %}
    <div class="form-group">
      <label for="name">名称</label><br>
      <input type="text" class="form-control" name="name"  value="{{ client.name }}"/>
      {{ error.title_msg|safe }}
    </div>
    <div class="form-group">
      <label for="description">描述</label><br>
      <input type="text" class="form-control" name="description"  value="{{ client.description }}"/>
      {{ error.title_msg|safe }}
    </div>
    <div class="form-group">
      <label for="icon">图标</label>
      <input type="file" id="icon" name="icon" />
      <p style="margin-top: 10px;">
        {% if client.icon_url and client.id %}
          <img src="{{ client.icon_url }}?imageView2/1/w/100/h/100" />
        {% endif %}
      </p>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right">
        {% if client.id %}
          更新
        {% else %}
          创建
        {% endif %}
      </button>
    </div>
  </form>
  </div><!-- /.box-body -->

  <div class="box-footer">
  </div>
</div>
{% endblock %}
