{% extends 'frontend/base.html' %}

{% block pageheader %}
用户中心
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/website/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="/static/website/css/05-4-member.css">
{% endblock %}

{% block container %}

<div class="user">
    <img src="/static/website/images/member-bg.jpg" alt="">
    <div class="user-info banxin clearfix">
        <div class="user-face fl"></div>
        <p class="user-name">
            <span>{{client.user_name}}</span>,你好！
        </p>
        <p class="user-loginTime">您上次登录的时间为：
            <span>{{client.updated|date:"Y-m-d H:i:s"}}</span>
        </p>
    </div>
</div>

<div class="container banxin clearfix">
    <!--左边列表-->
    <ul class="tabs fl">
        <h4 align="center">账号管理</h4>
        <li><a href="#tab1"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-01jbxx"></use></svg> 基本信息</a></li>
        <li><a href="#tab2"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-02fbfy"></use></svg> 房源发布</a></li>
        <li><a href="#tab3"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-03fygl"></use></svg> 房源管理</a></li>
        <li><a href="#tab4"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-04qzfb"></use></svg> 求租发布</a></li>
        <li><a href="#tab5"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-05qzgl"></use></svg> 求租管理</a></li>
        <li><a href="#tab6"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-06kfgl"></use></svg> 看房管理</a></li>
        <li><a href="#tab7"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-07zjgl"></use></svg> 资金管理</a></li>
    </ul>
    <!--右边列表-->
    <div class="tab_container fr">
        <!--tab1 基本信息-->
        <div id="tab1" class="tab_content baseinfo" style="display: block;">
            <h4 class="baseinfo">基本信息</h4>
            <form method="POST" action="{% url 'website:update_profile' %}" enctype="multipart/form-data" id="form1">
            {% csrf_token %}
                <div class="top">
                    <p>
                        <label>姓名：</label>
                        <input type="text" name="user_name" class="user-name" value="{{ client.user_name }}">
                    </p>
                    <p>
                        <label>性别：</label>
                        <label for="gender1" class="gender">
                            <input type="radio" id="gender1" name="gender" {% if client.gender == 1 %} checked {% endif %} value="1">男
                        </label>
                        <label for="gender2" class="gender">
                            <input type="radio" id="gender2" name="gender" {% if client.gender == 2 %} checked {% endif %} value="2">女
                        </label>
                    </p>
                    <p>
                        <label>生日：</label>
                        <input class="contact birbath" id="datetimepicker" name="birbath" type="text" value="{{ client.birbath|date:'Y-m-d' }}">
                    </p>
                    <p>
                        <label>联系方式：</label>
                        <input class="contact" name="mobile" type="text" value="{{ client.mobile }}">
                    </p>
                    <p>
                        <label>银行卡信息：</label>
                        <input class="contact" name="bank_acount" type="text" value="{{ client.bank_acount }}">
                    </p>
                </div>
                <div class="bottom">
                    <p>
                        <label>身份证号码：</label>
                        <input class="contact" type="text" name="id_card" value="{{ client.id_card }}">
                    </p>
                    <p>
                        <label>认证情况：</label>
                        未认证
                    </p>
                    <br/>
                    <input type="file" id="test-image-file" name="test-image-file" value="上传身份证正反照片" size="2">
                    <div id="test-image-preview" {% if client.id_card_picture %} style="background-image: url('{{ client.id_card_picture_url  }}?imageView2/1/w/300/h/200')" {% endif %}>
                        图片预览
                    </div>
                    {% if client.avatar_url %}
                        <img src="{{ client.avatar_url }}?imageView2/1/w/300/h/200" width="150">
                    {% endif %}
                    <br/>
                    <input type="hidden" name="c_user_id" value="{{ client.id }}">
                    <a id="user_info_submit" class="button">确认修改</a>
                </div>
            </form>
        </div>

        <!--tab2 房源发布-->
        <div id="tab2" class="tab_content house-release clearfix" style="display: none;">
            <h4>房源描述</h4>
            <br>
            <textarea name="content" class="house-description" id="house-description" cols="50" rows="10" placeholder="请输入房源描述"></textarea><br><br>
            <h4>房源详情</h4>
            <p>
                <label>租赁方式：</label>
                <select name="lease" id="leasing-method">
                    <option value="0">整租</option>
                    <option value="1">合租</option>
                </select>
            </p>
            <p>
                <label>房屋类型：</label>
                <input class="category" type="text" placeholder="例如：2室1厅   独立卫生间   精装修">
            </p>
            <p>
                <label>押付方式：</label>
                <select name="howtopay" id="howtopay">
                    <option value="0">押一付三</option>
                    <option value="1">押一付一</option>
                </select>
            </p>
            <p>
                <label>楼层朝向：</label>
                <select name="direction" id="floor-orientation">
                    <option value="0">东</option>
                    <option value="1">南</option>
                    <option value="2">西</option>
                    <option value="3">北</option>
                </select>
                <label>楼层数</label>
                <input class="layer" type="text" placeholder="例如：1">
                <label>总层数</label>
                <input class="total_layer" type="text" placeholder="例如：1">
            </p>
            <p>
                <label>所在小区：</label>
                <input class="district" name="community" type="text" placeholder="输入小区名字">
            </p>
            <p class="address">
                <label>详细地址：</label>
                <input class="addr" name="address" type="text" placeholder="具体街道地址">
            </p>
            <h4>基础设施</h4>
            <ul class="surrounding-facilities clearfix">
            {% for i in infrastructures %}
                <li>
                    <img src="{{ i.cover_url }}" alt="">
                    <br>
                    <label>{{ i.name }}</label>
                    <br>
                    <input type="checkbox" name="infrastructure" value="">
                </li>
            {% endfor %}
            </ul>
            <h4>周边配套</h4>
            <p><label>附近公交：</label>
                <input class="bus" type="text" name="bus" placeholder="公交站、公交路线"></p>
            <p><label>附近地铁：</label>
                <input class="tube" type="text" name="subway" placeholder="地铁站、地铁路线"></p>
            <p><label>餐饮购物：</label>
                <input class="mall" type="text" name="buy" placeholder="商场、超市等"></p>
            <h4>客厅</h4>
            <p>有无客厅：
                <input type="radio" name="sitting_room" id="yes" value="0"> 有 &nbs;p&nbsp;
                <input type="radio" name="sitting_room" id="no" value="1"> 无</p>
            <p class="livingArea">
                <label>面积：</label>
                <input class="sitting_room_area" type="text">
            &nbsp; m³</p>
            <p class="livingSet">客厅配置：
                <label>阳台 </label><input type="checkbox" name="sitting_room_complete" value="1">&nbsp;&nbsp;
                <label>飘窗 </label><input type="checkbox" name="sitting_room_complete" value="2">&nbsp;&nbsp;
            </p>
            <h4>卧室</h4>
            <div class="bedroom">
                <h5>卧室</h5>
                <p><label>面积：</label>
                    <input class="area" type="text">&nbsp m³
                </p>
                <p>
                    房间配置：
                    <label>飘窗 </label><input type="checkbox" name="complete" value="1">&nbsp;&nbsp;
                    <label>空调 </label><input type="checkbox" name="complete" value="2">&nbsp;&nbsp;
                    <label>床 </label><input type="checkbox" name="complete" value="3">&nbsp;&nbsp;
                    <label>书桌 </label><input type="checkbox" name="complete" value="4">&nbsp;&nbsp;
                    <label>衣柜 </label><input type="checkbox" name="complete" value="5">&nbsp;&nbsp;
                    <label>沙发 </label><input type="checkbox" name="complete" value="6">&nbsp;&nbsp;
                    <label>卫生间 </label><input type="checkbox" name="complete" value="7">
                </p>
            </div>
            <button class="addBedroom">增加卧室</button>
            <h4>上传房产证照片</h4>
            <p><input type="file" class="deedPic" name="deedPic"></p>
            <div class="photos">+增加图片</div>
            <h4>上传照片</h4>
                <p><input type="file" class="deedPic" id="deedPic" name="deedPic"></p>
                <div class="photos">+增加图片</div>
            <button class="release-pay" type="submit">确定发布并预付费用</button>
        </div>

        <!--tab3 房源管理-->
        <div id="tab3" class="tab_content house-manage" style="display: none;">
            <h4 class="house-online">已上架房源</h4>
            <ul class="items-on clearfix">
                <li class="item">
                    <img src="/static/website/images/houseMess.png" alt="">
                    <p>房租预算 <strong class="orange">5000-10000</strong></p>
                    <p>地理位置：<span>洪山区</span></p>
                    <p align="center"><a class="orange" href="#">编辑</a> &nbsp&nbsp&nbsp <a class="orange" href="#">下架</a>
                </li>

            </ul>
            <h4 class="house-online">已下架房源</h4>
            <ul class="items-off clearfix">
                <li class="item">
                    <img src="/static/website/images/houseMess.png" alt="">
                    <p>房租预算 <strong class="orange">5000-10000</strong></p>
                    <p>地理位置：<span>洪山区</span></p>
                    <p align="center"><a class="orange" href="#">编辑</a> &nbsp&nbsp&nbsp <a class="orange" href="#">上架</a>
                </li>
                <li class="item">
                    <img src="/static/website/images/houseMess.png" alt="">
                    <p>房租预算 <strong class="orange">5000-10000</strong></p>
                    <p>地理位置：<span>洪山区</span></p>
                    <p align="center"><a class="orange" href="#">编辑</a> &nbsp&nbsp&nbsp <a class="orange" href="#">上架</a>
                </li>
 
            </ul>
        </div>

        <!--tab4 求租发布-->
        <div id="tab4" class="tab_content seekRent" style="display: none;">
            <h4 class="house-online">基础信息</h4>
            <p><label><span class="orange">*</span>求租地段：</label>
                <select name="rentArea" id="rentArea">
                    <option value="请选择区域" selected>请选择区域</option>
                    <option value="hk">汉口</option>
                    <option value="hs">洪山</option>
                    <option value="gg">光谷</option>
                    <option value="hy">汉阳</option>
                </select>&nbsp&nbsp
                <select name="rentBlock" id="rentBlock">
                    <option value="请选择地段">请选择地段</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </p>
            <p><label><span class="orange">*</span>租金：</label><select name="rent" id="rent">
                    <option value="请选择租金">请选择租金</option>
                    <option value="0-500">0-500</option>
                    <option value="500-1000">500-1000</option>
                    <option value="1000-1500">1000-1500</option>
                    <option value="1500-2000">1500-2000</option>
                    <option value="2000-2500">2000-2500</option>
                    <option value="2000-2500">2000-2500</option>
                    <option value="2500-3000">2500-3000</option>
                    <option value="3000-3500">3000-3500</option>
                    <option value="3500-4000">3500-4000</option>
                    <option value="4000以上">4000以上</option>
                    <option value="不限">不限</option>
                </select>
            </p>
            <p class="checkinDay"><label><span class="orange">*</span>最迟入住时间：</label><input type="text" id="selectDate" readonly="readonly"/></p>
            <p class="extraInfo"><label><span class="orange">*</span>补充说明：</label><textarea name="extraInfo" id="extraInfo" cols="30" rows="10" placeholder="凡本站会员不限制查看联系方式，请勿在此处添加任何联系方式或地址信息，如若添加信息审核将无法通过。"></textarea></p>
            <h4 class="house-online">基础设施</h4>
            <ul class="surrounding-facilities clearfix">
            {% for i in infrastructures %}
                <li>
                    <img src="{{ i.cover_url }}">
                    <br>
                    <label>{{ i.name }}</label>
                    <br>
                    <input type="checkbox" name="surrounding-facilities" value="冰箱">
                </li>
            {% endfor %}
            </ul>
            <p class="rentAll">
                <label>
                    <input type="radio" name="rentType">
                    <span class="orange">*</span>整租
                </label><select name="males" id="males">
                <option value="男性人数" selected>男性人数</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
                <select name="males" id="females">
                    <option value="女性人数" selected>女性人数</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <select name="relationship" id="relationship">
                    <option value="关系" selected>关系</option>
                    <option value="1">朋友</option>
                    <option value="2">情侣</option>
                    <option value="3">同学</option>
                    <option value="3">亲戚</option>
                    <option value="4">陌生人</option>
                    <option value="4">其他</option>
                </select>
            </p>
            <p class="rentPart"><label><input type="radio" name="rentType"><span class="orange">*</span>合租</label><select name="totalPeople" id="totalPeople">人数
                <option value="总人数" selected>总人数</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
                <select name="relationship" id="relationship2">
                    <option value="关系" selected>关系</option>
                    <option value="1">朋友</option>
                    <option value="2">情侣</option>
                    <option value="3">同学</option>
                    <option value="3">亲戚</option>
                    <option value="4">陌生人</option>
                    <option value="4">其他</option>
                </select>
                <select name="males" id="acceptable">
                    <option value="能接受的合租对象" selected>能接受的合租对象</option>
                    <option value="1">学生</option>
                    <option value="2">白领</option>
                    <option value="3">不限</option>
                </select>
            </p>
            <p class="userName"><label><span class="orange">*</span>姓名</label><input type="text" placeholder="请输入您的名字"></p>
            <p class="phoneNum"><label><span class="orange">*</span>手机</label><input id="phoneNum" type="text" placeholder="请输入您的手机"><button>获取验证码</button></p>
            <button class="submit" type="submit">发布并预付费用</button>
        </div>

        <!--tab5 求租管理-->
        <div id="tab5" class="tab_content house-manage" style="display: none;">
            <h4 class="house-online">求租</h4>
            <ul class="items-on clearfix">
                <li class="item">
                    <img src="/static/website/images/houseMess.png" alt="">
                    <p>房租预算 <strong class="orange">5000-10000</strong></p>
                    <p>地理位置：<span>洪山区</span></p>
                    <p align="center"><a class="orange" href="#">编辑</a> &nbsp&nbsp&nbsp <a class="orange" href="#">下架</a>
                </li>
                <li class="item">
                    <img src="/static/website/images/houseMess.png" alt="">
                    <p>房租预算 <strong class="orange">5000-10000</strong></p>
                    <p>地理位置：<span>洪山区</span></p>
                    <p align="center"><a class="orange" href="#">编辑</a> &nbsp&nbsp&nbsp <a class="orange" href="#">下架</a>
                </li>
                <li class="item">
                    <img src="/static/website/images/houseMess.png" alt="">
                    <p>房租预算 <strong class="orange">5000-10000</strong></p>
                    <p>地理位置：<span>洪山区</span></p>
                    <p align="center"><a class="orange" href="#">编辑</a> &nbsp&nbsp&nbsp <a class="orange" href="#">下架</a>
                </li>

            </ul>
            <h4 class="house-online">已下架求租</h4>
            <ul class="items-off clearfix">
                <li class="item">
                    <img src="/static/website/images/houseMess.png" alt="">
                    <p>房租预算 <strong class="orange">5000-10000</strong></p>
                    <p>地理位置：<span>洪山区</span></p>
                    <p align="center"><a class="orange" href="#">编辑</a> &nbsp&nbsp&nbsp <a class="orange" href="#">上架</a>
                </li>

            </ul>
        </div>

        <!--tab6 看房管理-->
        <div id="tab6" class="tab_content house-apply" style="display: none;">
            <h4>申请看房</h4>
            <ul class="applyToSee">
                <li class="item clearfix">
                    <div class="left fl">
                        <img src="/static/website/images/houseMess.png" alt="">
                        <p>房租预算 <strong class="orange">5000-10000</strong></p>
                        <p>地理位置：<span>洪山区</span></p>
                        <p class="contactNum">联系电话：<span>13344455566</span></p>
                    </div>
                    <div class="right fl">
                        <h5>评论<ul class="comment clearfix">
                            <li>☆</li>
                            <li>☆</li>
                            <li>☆</li>
                            <li>☆</li>
                            <li>☆</li>
                        </ul></h5>
                        <div class="pic-upload-wrap"><span>上传图片</span><input name="picture" type="file" value="上传图片"></div>
                        <textarea name="comment-text" id="comment-text" cols="60" rows="5"></textarea><br>
                        <input class="submit" type="submit" value="确认评价">
                    </div>

                </li>
                <li class="item clearfix">
                    <div class="left fl">
                        <img src="/static/website/images/houseMess.png" alt="">
                        <p>房租预算 <strong class="orange">5000-10000</strong></p>
                        <p>地理位置：<span>洪山区</span></p>
                        <p class="contactNum">联系电话：<span>13344455566</span></p>
                    </div>
                    <div class="right fl">
                        <h5>评论<ul class="comment clearfix">
                            <li>☆</li>
                            <li>☆</li>
                            <li>☆</li>
                            <li>☆</li>
                            <li>☆</li>
                        </ul></h5>
                        <div class="pic-upload-wrap"><span>上传图片</span><input name="picture" type="file" value="上传图片"></div>
                        <textarea name="comment-text" id="comment-text" cols="60" rows="5"></textarea><br>
                        <input class="submit" type="submit" value="确认评价">
                    </div>

                </li>
                <li class="item clearfix">
                    <div class="left fl">
                        <img src="/static/website/images/houseMess.png" alt="">
                        <p>房租预算 <strong class="orange">5000-10000</strong></p>
                        <p>地理位置：<span>洪山区</span></p>
                        <p class="contactNum">联系电话：<span>13344455566</span></p>
                    </div>
                    <div class="right fl">
                        <h5>评论<ul class="comment clearfix">
                            <li>☆</li>
                            <li>☆</li>
                            <li>☆</li>
                            <li>☆</li>
                            <li>☆</li>
                        </ul></h5>
                        <div class="pic-upload-wrap"><span>上传图片</span><input name="picture" type="file" value="上传图片"></div>
                        <textarea name="comment-text" id="comment-text" cols="60" rows="5"></textarea><br>
                        <input class="submit" type="submit" value="确认评价">
                    </div>

                </li>
            </ul>
        </div>

        <!--tab7 资金管理-->
        <div id="tab7" class="tab_content money-manage">
            <h4>冻结中的资金</h4>
            <p>xxx</p>
            <h4>可提现的资金</h4>
            <p>xxx</p>
            <h4>资金明细</h4>
            <p>xxx</p>
            <h4>体现</h4>
            <p>xxx</p>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<!--footer end-->
<script src="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script type="text/javascript" src="/static/vendor/qiniu.min.js"></script>
<script type="text/javascript" src="/static/vendor/plupload.full.min.js"></script>
<script src="/static/website/js/jquery.datetimepicker.full.js"></script>
<script src="/static/website/js/05-4-member.js"></script>
<script>
  $(function(){
    // $('#birbath').jHsDate();
    $('#datetimepicker').datetimepicker({
        lang: 'ch',
        format: "Y-m-d",      //格式化日期
        timepicker: false,    //关闭时间选项
        yearStart: 1940,     //设置最小年份
        yearEnd: 2020,        //设置最大年份
        todayButton: false    //关闭选择今天按钮
    });

    $('#user_info_submit').click(function(){

        $.ajax({
            url:'/user/update_profile',
            type: 'POST',
            data: new FormData($('#form1')[0]),
            processData: false,
            contentType: false
        }).done(function(res){
            console.log(res)
            alert(res.error_msg);
            if (res.error_code == 0) {
                return;
            }
        }).fail(function(res){

        });

    });

  })
</script>
{% endblock %}
