{% extends 'super/base.html' %}

{% block pageheader %}
轮播管理
{% endblock %}

{% block mainbody %}
<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">
      轮播管理
    </h3>
    <div class="box-tools">
    </div>
  </div><!-- /.box-header -->

  <div class="box-body">
    <div style="margin-bottom:15px;">
      <a href="{% url 'web:advertising_create' %}" class="btn btn-info">新建</a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th style="width: 10px">#</th>
              <th>名称</th>
              <th>链接地址</th>
              <th>图片</th>
              <th>添加时间</th>
              <th>排序</th>
              <th>操作</th>
            </tr>
            {% for client in clients %}
              <tr>
                <td style="vertical-align: middle;"><a href="{% url 'web:advertising_edit' client.id %}">{{ client.id }}</a></td>
                <td style="vertical-align: middle;"><a href="{% url 'web:advertising_edit' client.id %}">{{ client.name }}</a></td>
                <td style="vertical-align: middle;"><a href="{{ client.target_url }}" title="{{ client.target_url }}">{{ client.target_url|truncatechars:15 }}</a></td>
                <td style="vertical-align: middle;">
                  <a href="{{ client.img_url }}" ><img src="{{ client.img_url }}?imageView2/1/w/50/h/50" /></a>
                </td>
                <td style="vertical-align: middle;">{{ client.created }}</td>
                <td style="vertical-align: middle;">
                  <a href="{% url 'web:advertising_up' client.id %}"><i class="fa fa-fw fa-arrow-up"></i></a>
                  <a href="{% url 'web:advertising_down' client.id %}"><i class="fa fa-fw fa-arrow-down"></i></a>
                </td>
                <td style="vertical-align: middle;">
                    <a class="btn-xs btn-info" href="{% url 'web:advertising_edit' client.id %}">编辑</a>
                    <a class="btn-xs btn-danger" href="{% url 'web:advertising_delete' client.id %}" onclick="return confirm('确认删除轮播图吗?')">删除</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <center>
        <ul class="pagination">
          <li class={% if clients.has_previous %}"previous"{% else %}"previous disabled"{% endif %}>
            <a {% if clients.has_previous %}href="?page={{clients.previous_page_number}}"{% endif %}>
              <span aria-hidden="true">上一页</span>
            </a>
          </li>
          <li class={% if clients.has_next %}"next"{% else %}"next disabled"{% endif %}>
            <a {% if clients.has_next %}href="?page={{clients.next_page_number}}"{% endif %}>
              <span aria-hidden="true">下一页</span>
            </a>
          </li>
        </ul>
      </center>
    </div>

    <div class="row">
      <center>
        <span>第{{clients.number}}页，</span>
        <span>共{{clients.paginator.num_pages}}页/共{{clients.paginator.count}}条记录</span>        
      </center>
    </div>

  </div>
</div>
{% endblock %}
